<% if user_signed_in? %>
  <div>
    こんにちは、<%= current_user.user_name %>さん
  </div>
  <div class="sepa"></div>
  <div class="status_frame">
    <div>
      体重
    </div>
    <div class="status_area">
      <%= @latest_body_mass %> kg 
    </div>
    <div class="status_area">
      達成度: <%= @weight_achievement %>%
    </div>
    <div>
      歩数
    </div>
    <div class="status_area">
      <%= @latest_steps %> 歩
    </div><!--
    <div class="status_area">
      達成回数: <%= %>     回(過去7日)
    </div> -->
  </div><!--
  <%= link_to "更新", dashboards_path, class: "update_button" %> -->
  <div class="sepa"></div>
  <div class="msgs_frame">
    <!-- メッセージ履歴が存在する場合 -->
    <% if !@message_histories.blank? %>
      <!-- メッセージ履歴が1つ以上存在する場合 -->
      <% if @message_histories.count > 0 %>
        <% @message_histories.each do |message_history| %>
          <div class="msg_area_base">
            <%= message_history.message %>
          </div>
        <% end %>
      <!-- メッセージ履歴が存在しない場合 -->
      <% else %>
        <div class="msg_area_base">
          表示するメッセージがありません
        </div>
      <% end %>
    <!-- メッセージ履歴が存在しない場合 -->
    <% else %>
      <div class="msg_area_base">
        表示するメッセージがありません
      </div>
    <% end %>
  </div>
<% end %>
